@font-face {
  font-family: NittyNormal;
  src: url('../assets/fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../assets/fonts/NB.woff') format('woff');
}

:root {
  --inverse: white;
  --highlight: red;
}
component(app){
  display: flex;
  font-family: NittyNormal;
  height: 100%;
}

component(card){
  boxSizing: border-box;
  margin: 20px;
  min-width: 380px;
  padding: 10px;
  border: 1px solid black;
}

component(sidebar) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--inverse);
  padding: 20px;
  min-width: 400px;
  background-color: black;
  button {
    color: black
  }
}

component(debugger){
  color: var(--highlight);
}

table {
  color: #333;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; }

th {
  background: #F3F3F3;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}
