:root {
  --inverse: white;
  --highlight: red;
}

component(sidebar) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--inverse);
  padding: 20px;
  min-width: 400px;
  background-color: black;

}

component(debugger){
  color: var(--highlight);
}

table {
  color: #333; /* Lighten up font color */
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; }

th {
  background: #F3F3F3;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}
